/* Customize your main colors in :root variables */
:root {
  --main-background-color: #453D36;
  --card-background-color: #c7b39b;
  --card-background-lighter-color: #c7b39b;
  --main-text-color:#454431;
  --title-text-color:#454431;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Rye', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



